/* grades detail section */
.grade-details {
  animation: fadeInUp 0.6s ease forwards;
}

.grade-details h2 {
  color: #273f4f;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.subtitle {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

section {
  margin-bottom: 1.8rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* grades details section ends */

/* standards section */
.standards-scroll-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.standards-inner-scroll {
  overflow-x: auto;
  width: 100%;
  max-width: 900px;
}

.standards-table {
  min-width: 800px;
  border-collapse: collapse;
  color: #273f4f;
}

.standards-table td {
  padding: 0.6rem;
  border: 1px solid #fe774360;
  text-align: center;
  font-size: 18px;
  white-space: nowrap;
}
/* standards section ends*/

/* chemical composition */
.composition table {
  width: 100%;
  border-collapse: collapse;
}
.name-table th,
.name-table td {
  padding: 0.6rem;
  border: 1px solid #fe774360;
  text-align: center;
  font-size: 18px;
}
.composition-table th,
.composition-table td {
  padding: 0.78rem !important ;
}
.chemical-composition {
  width: 40%;
}
.table-data {
  flex-wrap: wrap;
}
.name-table {
  width: 45%;
}

.spec-block,
.composition table,
.applications ul {
  background: #447d9b20;
  padding: 1rem;
  border-radius: 8px;
}

.spec-block h4,
.composition h3,
.applications h3 {
  color: #393185;
  margin-bottom: 0.6rem;
}

.applications ul {
  list-style: disc;
  margin-left: 1rem;
}

.cta-block {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.cta-block .btn {
  background: #273f4f;
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 6px;
}
.size-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.size-table th,
.size-table td {
  padding: 0.8rem;
  border: 1px solid #fe774360;
  text-align: left;
  font-size: 0.95rem;
}

.size-table th {
  background-color: #447d9b20;
  color: #273f4f;
}
/* size-range ends*/

/* process routes */
.process-route h3 {
  color: #273f4f;
  margin-bottom: 1rem;
}

.process-flow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #447d9b20;
  border: 1px solid #fe774360;
  border-radius: 10px;
  padding: 1rem;
}

.step {
  background: #fff;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  color: #273f4f;
  font-weight: 500;
}

.arrow {
  color: #666;
  font-size: 1rem;
}
/* process routes ends*/

/* media queries */
@media (max-width: 768px) {
  .grade-details {
    padding: 1rem;
  }

  /* standards-section */
  .standards-scroll-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .standards-table {
    min-width: 80%;
    border-collapse: collapse;
    color: #273f4f;
  }

  .standards-table td {
    padding: 0.4rem;
    border: 1px solid #fe774360;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
  }
  /* Hide scrollbar for Chrome, Edge, Safari */
  .standards-inner-scroll::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Firefox */
  .standards-inner-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /* standards-section ends */

  .spec-block {
    padding: 1rem;
    font-size: 0.95rem;
  }
  .overview {
    flex-wrap: wrap;
  }
  .size-table th,
  .size-table td {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .chemical-composition,
  .name-table {
    width: 100%;
    margin-bottom: 1rem;
  }

  .process-flow {
    justify-content: center;
    gap: 0.6rem;
  }

  .step {
    text-align: center;
  }

  .cta-block {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .grade-details h2 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }
  .composition th,
  .composition td {
    padding: 0.6rem;
    border: 1px solid #fe774360;
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .grade-details h2 {
    font-size: 1.3rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }

  .step {
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  .standards-container th,
  .standards-container td {
    font-size: 0.85rem;
    padding: 0.4rem;
  }
  .chemical-composition {
    width: 100%;
  }

  .name-table {
    width: 100%;
    margin: 0px auto;
  }
}
