.hero-carousel {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.hero-carousel .carousel-item {
  height: 80vh;
}

.hero-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-overlay {
  z-index: 2;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
}

.carousel-overlay h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.carousel-overlay p {
  font-size: 1.25rem;
  max-width: 600px;
  margin: auto;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.product-grid {
  padding: 4rem 0;
}

.product-grid h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  color: #273f4f;
}

.row-product{
  flex-wrap: wrap;
  gap: 20px;
}
.product-card {
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.product-card h5 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  color: #273f4f;
}

/* Why Choose Ventura */
.why-ventura {
  padding: 4rem 0;
  background-color: #f5f5f5;
}

.why-ventura h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #273f4f;
  font-weight: 700;
  margin-bottom: 3rem;
}

.why-card {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  height: 100%;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.why-card i {
  font-size: 2.5rem;
  color: #fe7743;
  margin-bottom: 1rem;
}

.why-card h6 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #273f4f;
}

/* Responsive */
@media (max-width: 480px) {
  .carousel-overlay {
    width: 100%;
  }
  /* product-grid */
  .product-grid h2 {
    font-size: 1.8rem;
  }
  .product-grid .col-6 {
    width: 45%;
}
.product-grid .g-4{
    --bs-gutter-y: 0.7rem;
}
  .product-card img {
    height: 180px;
  }

  .product-card h5 {
    font-size: 1rem;
  }

  .why-card i {
    font-size: 2rem;
  }
}
/* Responsive */
@media (max-width: 767px) {
  .carousel-overlay h1 {
    font-size: 2rem;
  }

  .carousel-overlay p {
    font-size: 1rem;
  }

  .product-card img {
    height: 180px;
  }

  .product-card h5 {
    font-size: 1rem;
  }

  .why-card i {
    font-size: 2rem;
  }
}
