/* chemical composition */
.h21-composition table {
  width: 100%;
  border-collapse: collapse;
}
.h21-composition th,
.h21-composition td {
  padding: 0.6rem;
  border: 1px solid #fe774360;
  text-align: center;
  font-size: 18px;
}
.h21-name-table th,
.h21-name-table td {
  padding: 0.78rem;
}

.h21-chemical-composition {
  width: 40%;
}
.table-data {
  flex-wrap: wrap;
}
.h21-name-table {
  width: 45%;
}
.spec-block,
.h21-composition table,
.applications ul {
  background: #447d9b20;
  padding: 1rem;
  border-radius: 8px;
}


