/* chemical composition */
.h11-composition table {
  width: 100%;
  border-collapse: collapse;
}
.h11-composition th,
.h11-composition td {
  padding: 0.6rem ;
  border: 1px solid #fe774360;
  text-align: center;
  font-size: 18px;
}
.h11-name-table th, .h11-name-table td {
    padding: 0.6rem ;
}

.h11-chemical-composition {
  width: 40%;
}
.table-data {
  flex-wrap: wrap;
}
.h11-name-table {
  width: 45%;
}
.spec-block,
.h11-composition table,
.applications ul {
  background: #447d9b20;
  padding: 1rem;
  border-radius: 8px;
}