/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100vh;
  background-color: #447d9b;
  padding-top: 70px;
  z-index: 1050;
  transition: all 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar.open {
  left: 0;
}

.sidebar .nav-link {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-section {
  width: 100%;
  z-index: 9999;
}

/* social + contyact-info */
.bg-social {
  background-color: #fff;
  color: #273f4f;
  position: relative;
  z-index: 998;
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: 20px;
}

.bg-social.hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}
.bg-social i {
  color: #273f4f;
}
.bg-social i:hover {
  color: #393185;
}
.bg-social a {
  color: #273f4f;
}

/* navbar */
.bg-navbar {
  width: 100%;
  position: sticky !important;
  top: 0;
  z-index: 999 !important;
  background-color: #447d9b;
}
.navbar-section .nav-link {
  font-size: 20px;
}
.contact-info {
  flex-wrap: wrap;
}

/* dropdown menu */
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  position: absolute;
  top: 100%;
  left: 10%;
  display: block;
  padding: 20px;
  min-width: 220px;
  background: #fff;
  z-index: 1050;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.nav-item.dropdown:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .sub-dropdown {
  top: 0;
  left: 100%;
  margin-left: 2px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all 0.3s ease;
  position: absolute;
  min-width: 250px;
  background: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.dropdown-submenu:hover .sub-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.dropdown-item {
  font-size: 16px;
  font-weight: 500;
  color: #273f4f;
  padding: 0.5rem 1rem;
  margin-bottom: 3px;
  border-bottom: 2px solid #fe7743;
  border-radius: 7px;
}

.dropdown-item:hover {
  background-color: #fe7743;
  color: #fff;
}

/* Responsive*/
@media (max-width: 992px) {
  .bg-social {
    padding: 0.5rem 0;
  }

  .contact-info {
    align-items: center;
    font-size: 14px;
    margin-top: 0.5rem;
  }

  .contact-info span,
  .contact-info a {
    margin-bottom: 0rem !important;
    display: inline-block;
  }

  .bg-social .d-flex {
    justify-content: center !important;
  }
  .bg-social .gap-3 {
    gap: 0.5rem !important;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 230px;
    padding-top: 60px;
  }

  .sidebar .nav-link {
    font-size: 16px;
    padding: 0.8rem;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    width: 24px;
    height: 24px;
  }

  .navbar-brand img {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .bg-social {
    font-size: 14px;
  }
  .bg-social i {
    font-size: 1rem;
  }

  .sidebar {
    width: 200px;
  }
  .contact-info {
    font-size: 14px;
  }
  .sidebar .nav-link {
    font-size: 18px;
    padding: 0.7rem;
  }
}

@media (min-width: 993px) and (max-width: 1857px) {
  .fs-3 {
    font-size: 1.1rem !important;
  }
  .navbar-brand img {
    height: 35px;
  }
  .gap-4 {
    gap: 1rem !important;
  }
  .navbar-section .nav-link {
    font-size: 17px;
  }
  .dropdown-item {
    font-size: 14px;
  }
}

@media (max-width: 1237px) {
  .fs-3 {
    font-size: 0.97rem !important;
  }
  .gap-4 {
    gap: 0.5rem !important;
  }
  .navbar-section .nav-link {
    font-size: 14px;
  }
}
