.search-wrapper {
  width: 100%;
  max-width: 400px; 
}

.search-dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1000;
}

.search-dropdown .active {
  background-color: #FE7743;
  color: white;
}

.highlight {
  font-weight: bold;
  color: #273F4F; 
}
