.certification-container h2 {
  color: #273f4f;
}

.certifications-description {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.certification-container hr {
  color: #fe7743;
  border: 1px solid #fe7743;
}

.certificate-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(57, 49, 133, 0.07);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #447d9b50;
  border: 1px solid #fe7743;
}

.cert-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.cert-overlay {
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 100%;
  height: auto;
  background: #fe7743;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  transition: bottom 0.5s ease, opacity 0.3s ease;
  opacity: 0;
}

.certificate-card:hover .cert-overlay {
  bottom: 0;
  opacity: 1;
}

.cert-overlay h6 {
  font-size: 1rem;
  font-weight: 600;
}

.cert-overlay p {
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.magnify-icon {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
  .certifications-description {
    font-size: 1rem;
  }

  .cert-overlay h6 {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .cert-overlay p {
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }

  .magnify-icon {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 480px) {
  .certifications-description {
    font-size: 1rem;
  }

  .cert-overlay h6 {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .cert-overlay p {
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }

  .magnify-icon {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .certification-container .col-6 {
    flex: 0 0 100%;
    width: 50%;
  }
}
