body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img,
.protected-img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
}

.protected-wrapper {
  position: relative;
  display: inline-block;
}
.protected-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 2;
}

/* Remove Bootstrap primary flash on click */
.btn,
.btn:focus,
.btn:active,
.btn:focus-visible {
  box-shadow: none !important;
}

/* Override outline-primary active state */
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
}

/* Hide reCAPTCHA badge everywhere */
/* Hide badge by default */
.grecaptcha-badge {
  visibility: hidden;
}

/* Show only when body has class */
body.show-recaptcha .grecaptcha-badge {
  visibility: visible;
}
